#include "resource.h"

IDB_1 BITMAP "bitmaps/1.bmp"
IDB_2 BITMAP "bitmaps/2.bmp"
IDB_3 BITMAP "bitmaps/3.bmp"
IDB_4 BITMAP "bitmaps/4.bmp"
IDB_5 BITMAP "bitmaps/5.bmp"
IDB_6 BITMAP "bitmaps/6.bmp"
IDB_7 BITMAP "bitmaps/7.bmp"
IDB_8 BITMAP "bitmaps/8.bmp"
IDB_9 BITMAP "bitmaps/9.bmp"
IDB_10 BITMAP "bitmaps/10.bmp"
IDB_11 BITMAP "bitmaps/11.bmp"
IDB_12 BITMAP "bitmaps/12.bmp"
IDB_13 BITMAP "bitmaps/13.bmp"
IDB_14 BITMAP "bitmaps/14.bmp"
IDB_15 BITMAP "bitmaps/15.bmp"
IDB_16 BITMAP "bitmaps/16.bmp"